<%- include('./partials/header.ejs', { user: user }) %>

<body>
    <div class="mainWrapper">
        <%- include('./partials/sideNav.ejs', {user: user}) %>

        <div class="mainContent">
            <div class="profileInfo">
                <img src="<%= profileUser.profilePic %>" id = "profilePicture" alt="">
                <div id="profileText">
                    <h3>[ <%= profileUser.username %> ]</h3>
                    <% 
                    let totalLikes = 0;
                    photos.forEach((photo) => {
                        totalLikes += photo.likes
                    }) 
                    %>
                    <p><%= photos.length %> posts<span style = "margin: 0 15px 0 25px"><%= totalLikes %> total likes</span> <span style = "margin: 0 15px 0 10px">512 following</span></p>
                    <p style = "color: rgb(209, 209, 209)"><%= profileUser.name %></p>
                </div>
            </div>
            <h3 style = "text-align: center;">ALL PHOTOS</h3>
            <hr>
            
            <div class="photosWrapper">
            <% if(photos.length > 0) { %>
                <% photos.forEach((photo)=> { %>
                    <div id = "photoBlock">
                        <p id = "photoTitleOverlay"><%= photo.photoTitle %></p>
                        <img src="<%= photo.content %>" alt="" id = "photoContent">
                        <p id = "profilePhotoStats"><%= photo.likes %> likes<span style = "margin: 0 0px 0 20px"><%= photo.comments.length %> comments</span></p>
                    </div>
                    
                    
                <% }) %>
                <% } else { %> 
                    <h3 style = "color:rgb(128, 128, 128)">Hmm, it's looking pretty empty here...add some content and get the party started!</h3>
                    <% } %>
            </div>
            <% for(let i = 0; i < photos.length; i++) { %>
            <div id="commentBox">
                <% photos[i].comments.forEach((comment)=> { %>
                    <p><%= comment %></p>
                <% }) %>
                <form method = "POST" action="/postComment">
                    <input type="text">
                    <button class = "darkButton" type = "submit">Post</button>
                </form>
             </div>
             <% } %>
     </div>

    </div>
    <script>
        const commentBoxes = document.querySelectorAll("#commentBox")
        const titles = document.querySelectorAll("#photoTitleOverlay")
        const photoBlock = document.querySelectorAll("#photoContent")
        const stats = document.querySelectorAll("#profilePhotoStats")


        for(let i = 0; i < photoBlock.length; i++) {
            photoBlock[i].addEventListener("mouseover", ()=> {
                console.log(titles)

                stats[i].style.bottom = "5px"
                stats[i].style.opacity = "1"
                titles[i].style.opacity = "1"
                titles[i].style.top = "-4px"

            })
        }

        for(let i = 0; i < photoBlock.length; i++) {
            photoBlock[i].addEventListener("mouseout", ()=> {
                stats[i].style.bottom = "0px"
                stats[i].style.opacity = "0"
                titles[i].style.opacity = "0"
                titles[i].style.top = "-7px"

            })
        }

        for(let i = 0; i < photoBlock.length; i++) {
            photoBlock[i].addEventListener("click", ()=> {
                commentBoxes[i].style.display = "block"
                commentBoxes[i].style.opacity = "1"

            })
        }
    </script>
</body>
