<% for(let i=0; i<posts.length; i++) { %>
    <div class="post">
            <div class="profilePicUsername">
                <div class="profilePictureCircle"> <img src="<%=userObjects[i].profilePic%>" alt=""
                        srcset=""></div>
                <a href="http://localhost:4000/profile/<%=userObjects[i].username%>">
                    <h5 id="homescreenUsername">
                        <%= userObjects[i].username %>
                    </h5>
                </a>
                <p id="userLocation">
                    <%= posts[i].photoLocation %>
                </p>
            </div>
            <div class="card-image">
                <img src="<%= posts[i].content %>" alt="">


            </div>
        <div class="card-content">
            <div class="likeShare">
                <img id="likeButton" src="/images/instagramLikeButton.png" alt="" srcset="">
                <img src="/images/whiteShareButton.png" alt="" srcset="">
            </div>
            <h5>
                <%= posts[i].created %>
            </h5>
            <p class="postDescription"> demo description </p>
            <input type="text" placeholder="Add a comment!" class="commentSection" />

        </div>


    </div>
    <% }; %>