<%- include('./partials/header.ejs', { user: user }) %>

<body>
    <div class="mainWrapper">
        <%- include('./partials/sideNav.ejs', { user: user }) %>

        
        <div class="userInfo">
            <h3 style = "text-align: center;">ALL USERS</h3>
                <% users.forEach((user) => { %>
                    <div class="userItem">
                            <img src="<%= user.profilePic %>" style = "height: 50px; width: 50px; border-radius: 100%; object-fit: cover;" alt="">
                            <a href="/profile/<%=user.username %>"><%= user.username %></a>
                            <div class="postCount">
                                <p>Total Posts: <%= user.postCount %> </p>
                            </div>
                    </div>  
                    
                    <hr id="listBreak">
                
            <% }); %>
                
        </div>


    </div>

</body>