<%- include('./partials/header.ejs', { user: currentUser }) %>

<body>
    <div class="mainWrapper">
        <%- include('./partials/sideNav.ejs', { user: currentUser }) %>

        
        <div class="userInfo">
            <h3 style = "text-align: center;">ALL USERS</h3>
                <% users.forEach((user) => { %>
                    <div class="userItem">
                            <img src="<%= user.profilePic %>" style = "height: 50px; width: 50px; border-radius: 100%; object-fit: cover;" alt="<%= user.username %>">
                            <a href="/profile/<%=user.username %>"><%= user.username %></a>

                    
                    </div>
                    <div class="totalPosts">
                        <p>Total Posts: <%= user.postCount %> </p>
                    </div>
                    
                    <hr id="listBreak">
                
            <% }); %>
                
        </div>


    </div>

</body>

<!-- <body>
    <div class="mainWrapper">
        <div class="userList">
            for each user do this (style = "display: flex: justify-content: center; gap: 30px"):
                <img src="" alt="">
                <p>Username</p>
                <p>Total Posts</p>
        </div>
    </div>
</body> -->

<!-- style = "height: 50px; width: 50px; border-radius: 100%; object-fit: cover;" alt="<%= user.username %>" -->